
.filters {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.tasks_list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;

    li {
        margin-top: 15px;
        background-color: #f4f6f7;
        padding: 10px 15px;
        border-radius: 10px;

        &:first-child {
            margin-top: 0;
        }
    }
}

